/* --- Variables de Color (Si no las tienes, añádelas) --- */
:root {
    --color-fondo: #000000;
    --color-texto-claro: #ffffff;
    --color-naranja: #FF9950; 
}

/* --- Estilos del Footer y Columnas --- */
.main-footer {
    background-color: var(--color-fondo);
    color: var(--color-texto-claro);
    padding: 40px 60px 0px 0px;
    font-family: sans-serif;
    line-height: 1.5;
}

.footer-content {
    display: flex; 
    justify-content: space-around;
    max-width: 1300px;
    margin: 0 auto;
}

.footer-column {
    flex-basis: 22%; 
    padding: 0 21px;
}


.title-with-links {
    display: flex;        
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;   
    gap: 15px;
}



.column-title {
   
    border-bottom: 2px solid var(--color-naranja); 
    display: inline-block; 
    padding-bottom: 5px;
    margin-right: 0; 
    margin-top: 0;
    color: #FF9950;
}

.brand-name{
    text-align: center;
    color: var(--color-naranja);
}


.title-with-links a {
    display: inline; 
    text-decoration: none;
    margin-left: 15px; 
    white-space: nowrap; 
    color: var(--color-texto-claro);
}

.footer-column.logo-column img {

    width: 350px; 
    height: auto; 
    
}


.link-below-title {
    display: block !important; 
    margin-left: 0; 
    margin-bottom: 5px;
}
.contact-column p {
    display: block;
    margin-bottom: 3px;
    line-height: 1.3;
    text-align: center;
    gap: 50px;
}
.social-links{
    display: flex;
    gap: 15px;
}
.social-text{
    color: #FF9950;
}

.social-links a {
    color: var(--color-naranja); 
    font-size: 1.5em;
}
.separacion{
    align-items: center;
    display: flex;
    gap: 20px;
    margin-left: 50px;
    margin-top: 75px;
}
